.shopping-cart {
  position: relative;
  top: 20px;
  right: -75%;
}

.cart-button {
  width: 200px;
}

@media (max-width: 1180px) {
  .shopping-cart {
    top: -10px;
    left: 0px;
    margin: 0 auto;
    text-align: center;
  }
}
